{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="layout-2 left">
        <div>
            <h1>Default categories</h1>
            {% for i in '135'|make_list %}
                <div class="d-flex justify-content-around p-3">
                    {% for category in categories %}
                        {% if forloop.counter == i|add:0 %}
                            <div>
                                <a href="{% url 'category' category.id %}" class="btn btn-info btn-lg rounded-pill">{{category}}</a>
                            </div>
                        {% elif forloop.counter == i|add:1 %}
                            <div>
                                <a href="{% url 'category' category.id %}" class="btn btn-info btn-lg rounded-pill">{{category}}</a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            <hr>
            <div class="d-flex justify-content-between">
                <h1>
                    Custom categories
                </h1>
                {% if add %}
                    <a href="{% url 'add-category' %}">
                        <svg class="text-secondary" width="75" height="75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4Z" fill="currentColor"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13 7C13 6.44772 12.5523 6 12 6C11.4477 6 11 6.44772 11 7V11H7C6.44772 11 6 11.4477 6 12C6 12.5523 6.44772 13 7 13H11V17C11 17.5523 11.4477 18 12 18C12.5523 18 13 17.5523 13 17V13H17C17.5523 13 18 12.5523 18 12C18 11.4477 17.5523 11 17 11H13V7Z" fill="currentColor"/>
                        </svg>
                    </a>
                {% endif %}
            </div>
            {% if user_categories %}
                {% for i in '13579'|make_list %}
                    <div class="d-flex justify-content-around p-3">
                        {% for category in user_categories %}
                            {% if forloop.counter == i|add:0 %}
                                <div>
                                    <a href="{% url 'category' category.id %}" class="btn btn-info btn-lg rounded-pill">{{category}}</a>
                                </div>
                            {% elif forloop.counter == i|add:1 %}
                                <div>
                                    <a href="{% url 'category' category.id %}" class="btn btn-info btn-lg rounded-pill">{{category}}</a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="text-center">
                    <h3>You have no custom categories yet. </h3>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="layout-2 right">
        <h1>a</h1>
    </div>

{% endblock %}