{% extends 'base.html' %}
{% load static %}
{% block content %}
     <h1>Default categories</h1>
    {% for category in categories %}
        <a href="{% url 'category' category.id %}" class="btn btn-outline-secondary btn-lg rounded-pill">{{category}}</a>
    {% endfor %}
    <hr>
    <h1>Your own categories</h1>
    {% for category in user_categories %}
        <a href="{% url 'category' category.id %}" class="btn btn-outline-secondary btn-lg rounded-pill">{{category}}</a>
    {% endfor %}
{% endblock %}