{% extends 'base.html' %}
{% block content %}
    {% if pagename == "login" %}

        <div class="d-sm-flex justify-content-between" style="padding-top:180px">
            <div class="my-5 py-5">
                <div class="my-5">
                    <p>HYGIENE & HEALTH TRACKER</p>
                </div>
                <div class="my-5">
                    <h1 style="font-size: 70px">MyHygienePal</h1>
                    <small>Your Pal who will motivate you to adopt a hygienic lifestyle.</small>
                </div>
            </div>
            <div class="my-5">
                <div class="d-flex justify-content-center">
                    <div class="container shadow-lg m-3 border bg-danger my-5 rounded-5">
                        <div class="p-3"><a class="btn btn-light" href="{% url 'index' %}"><--- Back to Startup Page</a></div>
                        <hr>
                        <form id="loginform" method="post">
                            {% csrf_token %}
                            <div class="mb-3 row">
                                <label for="email" class="text-light col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-6 mx-5">
                                    <input required type="email" class="text-dark form-control" id="email" name="email">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="password" class="text-light col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-6 mx-5">
                                    <input required type="password" class="text-dark form-control" id="password" name="password">
                                </div>
                            </div>
                            <hr>
                            <div class="pb-3 d-flex justify-content-center">
                                <input id="loginbtn" type="submit" class="btn btn-light rounded-5" value="Login">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <span class="fs-3 text-secondary">No account yet?<a class="p-2 link-primary" href="{% url 'register' %}">Sign up</a></span>
                </div>
            </div>
        </div>
    {% else %}
        <div class="d-sm-flex justify-content-between" style="padding-top:180px">
            <div class="my-5 py-5">
                <div class="my-5">
                    <p>HYGIENE & HEALTH TRACKER</p>
                </div>
                <div class="my-5">
                    <h1 style="font-size: 70px">MyHygienePal</h1>
                    <small>Your Pal who will motivate you to adopt a hygienic lifestyle.</small>
                </div>
            </div>
            <div>
                <div class="d-flex justify-content-center">
                    <div class="container shadow-lg m-3 border bg-danger my-5 rounded-5">
                        <div class="p-3"><a class="btn btn-light" href="{% url 'login' %}"><--- Back to Login Page</a></div>
                        <hr>
                        <form id="regform" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="mb-3 row">
                                    <label for="password" class="text-light col-sm-2 col-form-label my-1 mx-3">{{field.label}}</label>
                                    <div class="col-sm-6 mx-5">
                                        <input required type="{{field.field.widget.input_type}}" class="text-dark form-control my-1" name="{{field.name}}">
                                    </div>
                                </div>
                            {% endfor %}
                            <hr>
                            <div class="pb-3 d-flex justify-content-center">
                                <input id="regbtn" type="submit" class="btn btn-light rounded-5" value="Signup">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}