<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <Style>
        body{
            
            background-image: url('images/MHP_mainpage.png');
            background-size: cover;
            font-family: 'Times New Roman', Times, serif;
        }
       
        #leftalign {
            padding-top: 200px; 
            padding-right: 50px;
        }
        #rightalign{
            padding-top: 200px;
            padding-left: 200px;
        }
        #bottomline{
            text-align: center;
            padding-top: 100px;
        }
    </Style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div id="rightalign" class="col-sm-6">
                <p style="padding-bottom: 80px;">HYGIENE & HEALTH TRACKER</p>
                <h1 style="font-size: 70px;">MyHygienePal</h1>
                <p>Your Pal who will motivate you to adopt a hygienic lifestyle.</p>
            </div>
            <div id="leftalign" class="col-sm-6">
                <img src="images/leftimage.png" alt="A healthy family." class="img-fluid">
            </div>
        </div>
    </div>
    <p id="bottomline">
        click to <b><a href="MHPlogin.html">here</a></b> get started with your PAL!
    </p>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" ></script>
</body>
</html>