{% extends 'base.html' %}
{% block content %}
    <div>
        <div class="container shadow-lg m-3 border bg-secondary my-5 rounded-5">
            {% if user == request.user %}
                <div class="m-3 d-flex justify-content-between">
                    <div class="mx-1">
                        <a class="btn btn-light" href="{% url 'home' %}"><--- Back to Home Page</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="profile-pic profile-pic-large mx-4">
                            <img src="{{user.avatar.url}}" />
                        </div>
                    </div>
                    <div>
                        <a href="{% url 'update-user' %}" class="px-5">
                            <svg
                              class="text-dark my-4 mx-5"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M21.2635 2.29289C20.873 1.90237 20.2398 1.90237 19.8493 2.29289L18.9769 3.16525C17.8618 2.63254 16.4857 2.82801 15.5621 3.75165L4.95549 14.3582L10.6123 20.0151L21.2189 9.4085C22.1426 8.48486 22.338 7.1088 21.8053 5.99367L22.6777 5.12132C23.0682 4.7308 23.0682 4.09763 22.6777 3.70711L21.2635 2.29289ZM16.9955 10.8035L10.6123 17.1867L7.78392 14.3582L14.1671 7.9751L16.9955 10.8035ZM18.8138 8.98525L19.8047 7.99429C20.1953 7.60376 20.1953 6.9706 19.8047 6.58007L18.3905 5.16586C18 4.77534 17.3668 4.77534 16.9763 5.16586L15.9853 6.15683L18.8138 8.98525Z"
                                fill="currentColor"
                              />
                              <path
                                d="M2 22.9502L4.12171 15.1717L9.77817 20.8289L2 22.9502Z"
                                fill="currentColor"
                              />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <h4>{{user.name}}</h4>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <small>@{{user.username}}</small>
                </div>
            {% else %}
                <div class=" m-3 d-flex justify-content-between">
                    <div>
                        <a class="btn btn-light" href="{% url 'home' %}"><--- Back to Home Page</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="profile-pic profile-pic-large m-4">
                            <img src="{{user.avatar.url}}" />
                        </div>
                    </div>
                    <div class="mx-5 px-5">

                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <h4>{{user.name}}</h4>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <small>@{{user.username}}</small>
                </div>
            {% endif %}
            <hr>
            <div class="d-flex justify-content-center mb-4">
                <h4 class="my-2">{{user.bio}}</h4>
            </div>

        </div>
    </div>
{% endblock %}