{% extends 'base.html' %}
{% block content %}
    <div>
        <div class="container shadow-lg m-3 border bg-secondary my-5 rounded-5">
            {% if routine.user %}
                <h1 class="m-3 d-flex justify-content-between">
                    <div>
                        <a class="btn btn-light" href="{% url 'category' routine.category.id %}"><--- Back to Category Page</a>
                    </div>
                    <div>
                        {{routine.task}}({% if routine.completed %}Completed{% else %}Incomplete{% endif %})
                    </div>
                    <a href="{% url 'delete-routine' routine.id %}" class="px-4">
                        <svg class="text-dark mx-5" width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M17 5V4C17 2.89543 16.1046 2 15 2H9C7.89543 2 7 2.89543 7 4V5H4C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H5V18C5 19.6569 6.34315 21 8 21H16C17.6569 21 19 19.6569 19 18V7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H17ZM15 4H9V5H15V4ZM17 7H7V18C7 18.5523 7.44772 19 8 19H16C16.5523 19 17 18.5523 17 18V7Z"
                                fill="currentColor"
                            />
                            <path d="M9 9H11V17H9V9Z" fill="currentColor" />
                            <path d="M13 9H15V17H13V9Z" fill="currentColor" />
                        </svg>
                    </a>
                </h1>
            {% else %}
                <h1 class="m-3 d-flex justify-content-between">
                    <a class="btn btn-light" href="{% url 'category' routine.category.id %}"><--- Back to Category Page</a>
                    {{routine.task}}
                    <a class="mx-5 px-5"></a>
                </h1>
            {% endif %}
            <hr>
            <h2 class="m-3 text-center">
                Description
            </h2>
            <h5 class="m-4">{{routine.description}}</h5>
            <hr>
            <div class="d-flex justify-content-center mb-3">
                <form method="POST">
                    {% csrf_token %}
                    {% if routine.completed %}
                        <input value="Set as Incomplete" class="btn btn-light" type="submit">
                    {% else %}
                        <input value="Set as Completed" class="btn btn-light" type="submit">
                    {% endif %}
                </form>
            </div>

        </div>
    </div>
{% endblock %}