{% load static %}

body{
	background-image: url('../images/MHP_mainpage.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #0b0c10;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.layout-2.left {
    display: flex;
    float: left;
}

.layout-2.right {
    display: flex;
    float: right;
}

@keyframes blink {
    0% { color: brown; }
    50% { color: black; }
    100% { color: brown; }
}

.blinking-text {
    animation: blink 1s infinite; /* Adjust the duration as needed */
}

.bg-danger{
	background-color: var(--brown)!important;
	color: white
}

.bg-secondary{
	background-color: var(--darkerbrown)!important;
	color: white
}

.bg-info{
	background-color: var(--darkererbrown)!important;
	color: white
}

.text-danger{
    color: var(--brown)!important;
}

.text-secondary{
    color: var(--darkerbrown)!important;
}

.link-danger {
    color: var(--brown)!important;
    text-decoration: none;
}

.link-danger:hover {
    color: white!important;
    text-decoration: none;
}

.link-light {
    color: white!important;
    text-decoration: none;
}

.link-light:hover {
    color: grey!important;
    cursor: pointer;
    text-decoration: none;
}

:root{
    --brown: #c09c88;
    --darkerbrown: #865d46;
    --darkererbrown: #32231a;
}

.btn-info{
    background-color: var(--brown)!important;
    color: white;
    border: 1px solid black;
    box-shadow:hsl(0, 0%, 45%) 0 0 16px;

}

.btn-info:hover{
    background-color: var(--darkerbrown)!important;
    color: white;
    border: 1px solid black;
    box-shadow:hsl(0, 0%, 30%) 0 0 30px;
}

.btn-outline-danger{
    border-color: var(--darkerbrown)!important;
    color: var(--darkerbrown)!important;
}

.btn-outline-danger:hover{
    background-color: var(--darkerbrown)!important;
    color: white !important;
}

.btn-outline-secondary{
    border-color: var(--darkerbrown)!important;
    color: var(--darkerbrown)!important;
}

.btn-outline-secondary:hover{
    background-color: var(--darkerbrown)!important;
    color: white !important;
}

.profile-pic{
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid var(--brown);
}

.profile-pic img{
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.profile-pic.profile-pic-medium img{
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
}

.profile-pic.profile-pic-large img{
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
}

svg:hover {
    stroke: white; /* Change 'fill' to 'stroke' if you want to change the stroke color */
}

svg.text-secondary:hover {
    stroke: black; /* Change 'fill' to 'stroke' if you want to change the stroke color */
}

svg.text-dark:hover {
    stroke: var(--brown); /* Change 'fill' to 'stroke' if you want to change the stroke color */
}

.btn-lg{
    --bs-btn-padding-y: 1rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-font-size: 2.5rem;
}

.btn-md{
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: 1.25rem;
}












/* --------------------------------code for checkbox--------------------------------- */
/* checkbox settings 👇 */

.ui-checkbox {
  --primary-color: #1677ff;
  --secondary-color: #fff;
  --primary-hover-color: #4096ff;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}
